
body{
    display:block;
    margin:auto;
    align-content: center;
    visibility: hidden;

}


footer{

    padding-top:2em;
}



.page-header{
    min-height:5em;

}


.btn-large{
    display:block;

}

/*images*/

.tombstone-sky-header-img{
    width:90%;
    margin:auto;
    display:block;
}

.activity-img
{
    display:block;
    margin:auto;
    width: 25%;
    margin: 0 0 10px 10px;
}

.status-img
{
    float:right;
    display:block;
    margin:auto;
}

.hidden{
    opacity:0.0;
}

.current-stage {
    margin-left: 40px;
}

.connection-amt {
    float:left;
}


.encounter-choice{

    min-height:280px;
    max-height:281px ;
    min-width:22%;
    margin:auto;
    margin-left: 1em;
    margin-right: 1em;

}
.choice-description{
    min-height:100px;
    max-height:101px;

}

.choice-button {
    display:block;
    min-height:100px;
    max-height:101px;
    margin-left: 10px;
    margin-right: 10px;

}

#output-container{
    min-height:300px;
    max-height:301px;

}
#status{
    min-height:300px;
    max-height:301px;

}