
body{
    display:block;
    margin:auto;
    align-content: center;
    visibility: hidden;

}


footer{

    padding-top:2em;
}



.page-header{
    min-height:5em;

}
.navbar-fixed-top{


}






.btn-large{
    display:block;

}


/*images*/

.tombstone_sky_header_img{
    width:90%;
    margin:auto;
    display:block;


}
.tombstone_sky_header_caption
{


}



.activity_img
{
    display:block;
    margin:auto;
    width: 25%;
}

.status_img
{
    float:right;
    display:block;
    margin:auto;
}

.hidden{
    opacity:0.0;
}

.current-stage {
    margin-left: 40px;
}

.connection-amt {
    float:left;
}

.activity_img {
    margin: 0 0 10px 10px;
}

.encounter-choice{

    min-height:280px;
    max-height:281px ;
   min-width:28%;

}
.choice-description{
    min-height:100px;
    max-height:101px;

}

.choice-button {
    display:block;
    min-height:100px;
    max-height:101px;
}

#output-container{
    min-height:300px;
    max-height:301px;
}
#status{
    min-height:300px;
    max-height:301px;
}