
<!--About Screen -->
<div id="about">
    <div class="row-fluid">
        <div class="hero-unit large span12 row-fluid">
            <div class="span4">
            <img src="templates/img/ScottPortrait.PNG"/>
            </div>
            <div class="span4">
                <h1 class ="text-left about-title">About the authors</h1>

            </div>
            <div class="span4">
            <img src="templates/img/NathanPortrait.PNG"/>
            </div>
            <div class="row-fluid">
                <div class="alert span12 text-center">
                <p>Nathan & Scott are two people who are enthusiastic about almost everything under the sun.  We enjoy making games, building websites, playing boardgames, and helping ideas that sound bad on paper become a reality.</p>
                </div>
            </div>
            <div class="row-fluid">
                <a class="btn btn-large  span12" href="#start_screen">Back to Main Menu</a>
            </div>
        </div>

    </div>
</div>

