<div class="row-fluid">
    <div class="hero-unit span6" id="output-container">
        <div class="output-prompt"></div>
        <div class="output-text"></div>

    </div>

    <div class="hero-unit span6" id="status">
        <!-- TODO: remove inline styling -->
        <img style="height:100px;width:100px;"class="status-img" src="templates/img/status.png">
        <p>Player Name: <span class="player-name"></span></p>
        <p>State: <span class="player-state"></span></p>
        <p>Health: <span class="player-health"></span><span class="health-change"></span></p>
        <p>Happiness: <span class="player-happiness"></span><span class="happiness-change"></span></p>
        <p>---------</p>
        <div class="output-results"></div>

    </div>

</div>
<hr />
<div class="row-fluid" id="input-container">

    <p>input container</p>
</div>
<br />
<hr />
<a class="btn" href="#start_screen">Back to Main Menu</a>

<script src="templates/people.js" type="text/javascript-lazy"></script>
<script src="templates/activities.js" type="text/javascript-lazy"></script>
<script src="templates/content/stage00.js" type="text/javascript-lazy"></script>
<script src="templates/content/stage01.js" type="text/javascript-lazy"></script>
<script src="templates/content/stage02.js" type="text/javascript-lazy"></script>
<script src="templates/content/stage03.js" type="text/javascript-lazy"></script>
<script src="templates/content/stage04.js" type="text/javascript-lazy"></script>
<script src="templates/content/stage05.js" type="text/javascript-lazy"></script>
<script src="templates/choices.js" type="text/javascript-lazy"></script>
<script src="assets/js/typed.js"></script>
<script src="assets/js/jquery.typer.js"></script>
