
<div class="row-fluid">
    <div class="hero-unit span6" id="output-container">
        <div id="output-prompt"></div>
        <div id="output-text"></div>

    </div>

    <div class="hero-unit span6" id="status">
        <img style="height:100px;width:100px;"class="status_img" src="templates/img/status.png">
    </div>

</div>
<hr />
<div class="row" id="input-container">

    <p>input container</p>
</div>
<br />
<hr />
<a class="btn" href="#start_screen">Back to Main Menu</a>



<script src="templates/people.js" type="text/javascript-lazy"></script>
<script src="templates/activities.js" type="text/javascript-lazy"></script>
<script src="templates/choices.js" type="text/javascript-lazy"></script>

