
<!--Start Screen-->


<div class="start_screen row-fluid">

    <div class="hero-unit span12">
        <h1> Welcome to Choices!</H1>
        <p>Begin a new game and and see what you make of yourself. Just like these other fine folks:</p>

    </div>
</div>
<div class="start_screen row-fluid">

    <div class="hero-unit span12">
        <img src="templates/img/tombstone_sky_header.png" alt="8 bit style drawing of a tombstone" class ="tombstone_sky_header_img" >
        <p class="tombstone_sky_header_caption text-center">Jimmy John Jaywalker III was born a poor farmer...</p>
        <a href="#obituaries">read the full obituary</a>

    </div>
</div>


<div class="start_screen row-fluid">

    <div class="hero-unit span12" id="start_menu_items">
        <a class="btn btn-large" id = "goto_choice_board" href="#choice_board">Start New Game</a>
        <a class="btn btn-large" id = "goto_obituaries" href="#obituaries">Obituaries</a>
        <a class="btn btn-large" id = "goto_about" href="#about">About</a>

    </div>

</div>


</div>